<section class="opportunities">
    <div class="container">
        <h3 class="opportunities__title title-700">
            Explore new opportunities with our platform
        </h3>
        <div class="opportunities__wrapper">
            <div class="opportunities__box">
                <h4 class="opportunities__subtitle title-500">
                    Make sustainable 
                    business by providing 
                    RPA as a service
                </h4>
                <a href="#" class="opportunities__btn button">
                    Get Revenue Growth Guide
                </a>
            </div>
            <div class="opportunities__image">
                <img src="images/computers.png" alt="">
            </div>
        </div>
    </div>
</section>