<section class="sponsors">
    <div class="container">
        <h3 class="sponsors__title title-700">
            Join recognized businesses that already using our product
        </h3>
        <div class="sponsors__wrapper">
            <img src="../images/heidelberg.png" alt="sponsor" class="sponsors__image">
            <img src="../images/airastana.png" alt="sponsor" class="sponsors__image">
            <img src="../images/hcsb.png" alt="sponsor" class="sponsors__image">
            <img src="../images/alhilalbank.png" alt="sponsor" class="sponsors__image">
            <img src="../images/railways.png" alt="sponsor" class="sponsors__image">
            <img src="../images/homecreditbank.png" alt="sponsor" class="sponsors__image">
        </div>
    </div>
</section>