html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-family: "SF-pro Display", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
}
form {
    margin: 0;
}
fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
address {
    font-style: inherit;
}
p {
    margin: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    display: block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
input {
    border: inherit;
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
 max-width: 1260px;
    width: 100%;
    padding: 0 20px 0;
    margin: 0 auto;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.reset-button {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: inherit;
    text-align: left;
    // font-size: 1em;
    color: inherit;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    &:disabled {
        cursor: default;
    }
}
.button {
    font-weight: 500;
    font-size: 18px;
    background-color: $blue;
    color: $white;
    border-radius: 5px;
    padding: 20px 35px;
    &.white {
        border: 1px solid #007ffc;
        background-color: $white;
        color: #007ffc;
    }
}

.title-500 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.21;
    span {
        font-weight: 800;
    }
}
.title-700 {
    font-weight: 700;
    font-size: 32px;
}
.text {
    font-weight: 500;
    font-size: 18px;
    color: $black;
    line-height: 1.67;
}
// .container-fluid{
//     max-width: 100%;
// 	margin: 0 auto;
// }
