.header {
    &__inner {
        height: 98px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        height: 50px; 
        & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    &__navigation {
        display: flex;
        gap: 40px;
    }
}