.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 100;
    &__inner {
        height: 98px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        height: 50px;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    &__navigation {
        display: flex;
        gap: 40px;
        font-size: 16px;
        line-height: 1;
        margin-left: auto;
    }
    &__contact {
        padding: 9px 19px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-right: 20px;
    }
}

.lang {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    margin-right: 42px;
    &__select {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background-image: url(../images/arrow-down.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            pointer-events: none;
        }
        select {
            border: none;
            background-color: transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding-right: 22px;
            color: inherit;
        }
    }
}

.welcome {
    .slide {
        min-height: 750px;
        position: relative;
        background-color: #092c42;
        padding-top: 198px;
        color: #fff;
        &__title {
            margin-bottom: 40px;
        }
        &__container {
            position: relative;
            z-index: 1;
        }
        &__box {
            max-width: 626px;
        }
        &__text {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.67;
            margin-bottom: 80px;
        }
        &__image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            & > img {
                opacity: 0.5;
            }
            &::after {
                content: "";
                background: linear-gradient(
                    270.28deg,
                    #092c42 14.54%,
                    rgba(9, 44, 66, 0) 88.07%,
                    rgba(9, 44, 66, 0) 88.07%
                );
                transform: matrix(-1, 0, 0, 1, 0, 0);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 1;
            }
        }
        &__wrapper {
            display: flex;
            align-items: flex-start;
            gap: 20px;
        }
        &__btn {
            display: block;
            width: max-content;
        }
        &__link-to-video {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 16px 35px;
        }
        &__hint {
            text-align: center;
            margin-top: 10px;
            font-size: 16px;
            line-height: 1;
            color: #0096ED;
        }
    }
}
