.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 100;
    &.header_black {
        color: $black;
        .header__contact {
            border-color: $black;
        }
        .lang {
            &__select {
                &::after {
                    background-image: url(../images/arrow-down-black.png);
                }
            }
        }
    }
    &__inner {
        height: 98px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        height: 50px;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    &__navigation {
        display: flex;
        gap: 40px;
        font-size: 16px;
        line-height: 1;
        margin-left: auto;
    }
    &__contact {
        padding: 9px 19px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-right: 20px;
    }
    &__log-out {
        width: 24px;
        height: 24px;
        & > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}

.lang {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    margin-right: 42px;
    &__select {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background-image: url(../images/arrow-down.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            pointer-events: none;
        }
        select {
            border: none;
            background-color: transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding-right: 22px;
            color: inherit;
        }
    }
}

.welcome {
    .slide {
        min-height: 750px;
        position: relative;
        background-color: #092c42;
        padding-top: 198px;
        color: #fff;
        &__title {
            margin-bottom: 40px;
        }
        &__container {
            position: relative;
            z-index: 1;
        }
        &__box {
            max-width: 626px;
        }
        &__text {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.67;
            margin-bottom: 80px;
        }
        &__image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            & > img {
                opacity: 0.5;
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: right;
            }
            &::after {
                content: "";
                background: linear-gradient(
                    270.13deg,
                    #092c42 32.19%,
                    rgba(9, 44, 66, 0) 97.4%,
                    rgba(9, 44, 66, 0) 97.4%,
                    rgba(9, 44, 66, 0) 97.4%
                );
                transform: matrix(-1, 0, 0, 1, 0, 0);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 1;
            }
        }
        &__wrapper {
            display: flex;
            align-items: flex-start;
            gap: 20px;
        }
        &__btn {
            display: block;
            width: max-content;
        }
        &__link-to-video {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 16px 35px;
        }
        &__hint {
            text-align: center;
            margin-top: 10px;
            font-size: 16px;
            line-height: 1;
            color: #0096ed;
        }
    }
}

.sponsors {
    padding: 100px 0;
    &__title {
        margin-bottom: 40px;
    }
    &__wrapper {
        display: flex;
        gap: 42px;
        align-items: flex-end;
        filter: grayscale(100%);
    }
}

.opportunities {
    padding: 100px 0;
    &__title {
        margin-bottom: 62px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__box {
        max-width: 457px;
        width: 100%;
    }
    &__btn {
        display: block;
        width: max-content;
        margin-top: 63px;
    }
    &__image {
        max-width: 751px;
        width: 100%;
        max-height: 408px;
        & > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}

.service {
    padding: 67px 0 88px;
    background-color: #092c42;
    color: #fff;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__box {
        max-width: 563px;
        width: 100%;
        padding-bottom: 12px;
    }
    &__title {
        margin-bottom: 48px;
    }
    &__text {
        margin-bottom: 60px;
    }
    &__btn {
        display: block;
        width: max-content;
    }
}

.pricing {
    padding: 100px 0;
    &__title {
        margin-bottom: 30px;
    }
    &__inner {
        margin-top: 100px;
        display: flex;
        gap: 40px;
    }
    &__column {
        &-title {
            text-align: center;
            font-weight: 500;
            font-size: 32px;
            line-height: 30px;
            margin-bottom: 40px;
        }
    }
    &__tariffs {
        display: flex;
        gap: 10px;
        height: calc(100% - 70px);
    }
    &__button {
        display: block;
        width: max-content;
        margin: 100px auto 0;
    }
}

.tariff {
    display: flex;
    flex-direction: column;
    width: 230px;
    border: 0.5px solid rgba(143, 160, 170, 0.8);
    border-radius: 8px;
    padding: 40px 20px;
    &.tariff_blue,
    &.tariff_green,
    &.tariff_red {
        .tariff__price {
            padding-bottom: 31px;
            margin-bottom: 30px;
        }
    }
    &.tariff_blue {
        .tariff__title {
            color: #007ffc;
        }
        .tariff__hint {
            color: #0096ed;
            background: rgba(5, 147, 250, 0.1);
        }
    }
    &.tariff_green {
        .tariff__title {
            color: #56cbae;
        }
        .tariff__hint {
            background: rgba(86, 203, 174, 0.1);
            color: #56cbae;
        }
    }
    &.tariff_red {
        .tariff__title {
            color: #fa6770;
        }
        .tariff__hint {
            background: rgba(250, 103, 112, 0.1);
            color: #fa6770;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.33;
        text-align: center;
        margin-bottom: 30px;
    }
    &__price {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 1.33;
        color: #8fa0aa;
        gap: 5px;
        width: max-content;
        margin: 0 auto 61px;
        position: relative;
        span {
            font-weight: 700;
            font-size: 32px;
            line-height: 1.62;
            color: #092c42;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 1.22;
        text-align: center;
        color: #8fa0aa;
        margin-bottom: 49px;
    }
    &__btn {
        display: block;
        width: max-content;
        padding: 20px 38px;
        margin: auto auto 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 16px;
        background: #ffffff;
        border: 1px solid #092c42;
        border-radius: 30px;
        transition: all 0.3s ease;
        &:hover {
            color: #fff;
            background-color: #092c42;
        }
    }
    &__hint {
        text-align: center;
        font-size: 14px;
        line-height: 25px;
        min-width: 128px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 3px;
    }
}

.features {
    padding: 100px 0 200px;
    &__item {
        display: flex;
        gap: 57px;
        & + & {
            margin-top: 100px;
        }
        &-image {
            max-width: 595px;
            width: 100%;
            max-height: 400px;
            object-fit: contain;
        }
        &-wrapper {
            max-width: 566px;
            width: 100%;
        }
        &-title {
            margin-bottom: 40px;
        }
        &-list {
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            li {
                position: relative;
                padding-left: 30px;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    background-color: #007ffc;
                    border-radius: 50%;
                }
                & + li {
                    margin-top: 30px;
                }
            }
        }
        &-link {
            display: block;
            width: max-content;
            margin-top: 60px;
        }
    }
}

.properties {
    padding: 100px 0;
    &__inner {
        display: flex;
        gap: 30px;
    }
    &__item {
        width: 100%;
        &-image {
            background-color: #F3F4F6;
            border-radius: 8px;
            height: 245px;
            padding: 23px 0 22px;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        &-title {
            padding: 0px 28px;
            margin-top: 30px;
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
        }
    }
}

.support {
    background-color: #5F7684;
    padding: 100px 0;
    &__title{
        font-weight: 500;
        font-size: 32px;
        line-height: 1.25;
        text-align: center;
        color: #FFFFFF;
        max-width: 750px;
        margin: 0 auto 60px;
    }
    &__items {
        display: flex;
        justify-content: center;
        gap: 60px;
    }
    &__item {
        max-width: 402px;
        width: 100%;
        height: 118px;
        object-fit: contain;
        object-position: center;
        border-radius: 5px;
        overflow: hidden;
    }
    &__link {
        display: block;
        width: max-content;
        margin: 60px auto 0;
    }
}


.resources {
    padding: 100px 0;
    &__links {
        display: flex;
        gap: 87px;
        justify-content: center;
        margin-top: 70px;
    }
    &__slider {
        &-navigation {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            position: relative;
            height: 80px;
        }
        .swiper-button-next, 
        .swiper-button-prev {
            position: static;
            margin: 0;
            width: 80px;
            height: 80px;
            background-color: #C1CAD1;
            border-radius: 50%;
            transition: all .3s ease;
            &::after {
                display: none;
            }
            svg path {
                transition: all .3s ease;
            }
            &.swiper-button-disabled {
                opacity: 1;
                background-color: #F3F4F6;
                svg path {
                    fill: #979797;
                }
                &:hover {
                    background-color: #F3F4F6;
                }
            }
            &:hover {
                background-color: #87A1B6;
            }
        }
        .swiper-pagination{
            position: static;
            display: flex;
            justify-content: center;
            gap: 25px;
            max-width: max-content;
            margin: 0 62px;
            &-bullet {
                width: 10px;
                height: 10px;
                margin: 0 !important;
            }
        }
    }
    &__slide {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.resource {
    position: relative;
    height: 256px;
    padding: 30px;
    &__background{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(9, 44, 66, 0.8);
        }

    }
    &__inner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__title {
        color: #FFF;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        & > span {
            margin-top: 5px;
            display: block;
            font-size: 32px;
            line-height: 35px;
        }
    }
    &__btn {
        margin-top: auto;
        display: flex;
        gap: 6px;
        align-items: center;
        width: max-content;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        padding: 12px 33px;
        font-weight: 500;
        font-size: 18px;
        line-height: 16px;
        height: 56px;
        color: #FFF;
        transition: all .3s ease;
        &:hover {
            background-color: #0096ED;
        }
        &-icon {
            & > svg {
                display: block;
            }
        }
    }
}
