@mixin font($a, $b) {
    font-size: $a;
    line-height: $b;
    // font-weight: $c;
    // color: $d;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// vars

$white: #fff;
$blue: #0096ed;
$black: #092c42;
$grey: #8FA0AA;