.promo {
    color: $white;
    height: 418px;
    &.height-388 {
        background-color: #F3F4F6;
        color: $black;
        height: 388px;
    }
    &__background {
        position: absolute;
        z-index: -1;
        height: inherit;
        max-width: 100vw;
        // mix-blend-mode: normal;
        // opacity: 0.5;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: #092c42;
            mix-blend-mode: normal;
            opacity: 0.5;
            left: 0;
            top: 0;
        }
        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            // object-position: center;
        }
    }
    &__container {
        position: relative;
        z-index: 1;
        text-align: center;
        padding-top: 200px;
    }
    &__title {
        font-weight: 700;
        font-size: 32px;

        margin-bottom: 30px;
    }
    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }
}
