.steps {
    padding: 100px 0;
    &__container {
        display: flex;
        column-gap: 30px;
    }
}
.steps-item {
    position: relative;
    &:last-child {
        &::after {
            display: none;
        }
    }
    &::after {
        content: "";
        position: absolute;
        background-image: url(../images//next-arrow.svg);
        width: 80px;
        height: 80px;
        top: 83px;
        right: -55px;
        z-index: 2;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__picture {
        background: #f3f4f6;
        border-radius: 8px;
        position: relative;

        width: 386px;
        height: 245px;

        margin-bottom: 30px;
        &-image {
            height: 207px;
            position: absolute;
            object-fit: cover;
            object-position: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__caption {
        color: $black;
        font-weight: 500;
        text-align: center;

        &-title {
            font-size: 32px;

            margin-bottom: 15px;
        }
        &-text {
            font-size: 18px;
        }
    }
}
